*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.container h1{
    font-size: 2rem;
}
.container span{
    font-size: 2rem;
    background-color: blueviolet;
    color: #fff;
    padding: 1rem 2rem;
}